animation==0.0.7
args==0.1.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
clint==0.5.1
idna==2.10
pychalk==2.0.1
PyYAML==5.4.1
requests==2.25.1
requests-cache==0.5.2
six==1.15.0
soupsieve==2.2.1
tabulate==0.8.9
urllib3==1.26.4